
.guest_form {
    background-color: #3bb19b; /* Background color */
    padding: 20px;
    border-radius: 10px;
    display: flex; /* Flex display */
    flex-direction: column; /* Stack form elements vertically */
    align-items: center; /* Center items horizontally */
    max-width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: 4rem; 
  }
  
  /* Form field styles */
  .form_group {
    margin-bottom: 20px; /* Increased spacing between form groups */
  }
  
  .form_group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff; /* White label text */
  }
  
  .form_group input[type="text"],
  .form_group input[type="tel"],
  .form_group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5); /* White background with transparency */
    color: #000; /* Black text color */
    transition: background-color 0.3s; /* Smooth transition for input background */
  }
  
  .form_group input[type="text"]::placeholder,
  .form_group input[type="tel"]::placeholder,
  .form_group input[type="email"]::placeholder {
    color: #fff; /* White input placeholders */
  }
  
  .form_group input[type="text"]:focus,
  .form_group input[type="tel"]:focus,
  .form_group input[type="email"]:focus {
    background-color: #fff; /* Change background color on focus */
  }
  
  .white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
  