.room-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .room-card {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .room-card img {
    max-width: 100%;
    height: auto;
  }
  
  .room-card h3 {
    margin-top: 10px;
  }
  
  .amenities-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .amenity {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .amenity span {
    margin-left: 5px;
  }
  
  .room-card p {
    margin-top: 10px;
  }
  
  .room-card button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none; /* Remove underlining */
    display: inline-block; /* Ensure it behaves as a block-level element */
    border-radius: 4px; /* Add some border radius for a button-like appearance */
  }
  
  .room-card button:hover {
    background-color: #0056b3;
  }
  
  
  .room-card button:hover {
    background-color: #0056b3;
  }
  
  .max-img-width {
    max-width: 100%; 
    height: auto; 
  }

  