.navbar {
	width: 100%;
	height: 100px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 0 25px;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 15px;
}

.WhiteBtn {
	border: none;
	outline: none;
	padding: 10px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
}


.policy-container {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  .link-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .link-button:hover {
    background-color: #0056b3;
  }
  